*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    color: #fff;
}

.flex{
    display: flex;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// UTILITIES
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    font-size: 29px;
    font-weight: 400;
}

// BUTTON LIST
.btn-list{
    padding: 15px 25px;
}

.btn-downl{
    padding: 10px 15px;
    background: #666666;
    display: inline-flex;
    color: #fff;
}

.btn-shop{
    display: inline-block;
    padding: 8px 40px;
    background: #009cff;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
